<p id="notice"><%= notice %></p>

<h1>Grades</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Evaluation</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.student.name %></td>
        <td><%= grade.evaluation.name %></td>
        <td><%= grade.grade %></td>
        <td><%= link_to 'Show', course_evaluation_grade_path(@evaluation.course,@evaluation,grade) %></td>
        <td><%= link_to 'Edit', edit_course_evaluation_grade_path(@evaluation.course,@evaluation,grade) %></td>
        <td><%= link_to 'Destroy', course_evaluation_grade_path(@evaluation.course,@evaluation,grade), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade', new_course_evaluation_grade_path(@evaluation.course,@evaluation) %>
<%= link_to 'Back', course_evaluation_path(@evaluation.course,@evaluation) %>
