<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @grade.student %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @grade.evaluation %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<%= link_to 'Edit', edit_course_evaluation_grade_path(@evaluation.course,@evaluation,@grade) %> |
<%= link_to 'Back', course_evaluation_grades_path(@evaluation.course,@evaluation) %>
