<p id="notice"><%= notice %></p>

<h1>Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Min grade</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.name %></td>
        <td><%= evaluation.date %></td>
        <td><%= evaluation.min_grade %></td>
        <td><%= evaluation.course.name %></td>
        <td><%= link_to 'Show', course_evaluation_path(evaluation.course,evaluation) %></td>
        <td><%= link_to 'Edit', edit_course_evaluation_path(evaluation.course,evaluation) %></td>
        <td><%= link_to 'Destroy', course_evaluation_path(evaluation.course,evaluation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_course_evaluation_path %> 
<%= link_to 'Back', course_url(@evaluations.first.course) %>