<p id="notice"><%= notice %></p>
<h1  style="text-align: center">Evaluation  <%= @evaluation.name %>
	<%= link_to image_tag("edit.png", class:"edit-course-img col-md-2"), edit_course_evaluation_path(@course,@evaluation) %>
</h1>
<hr style="background-color:red">
<%= link_to image_tag("destroyBin.png", class:"del-evaluation-img"), course_evaluation_path(@evaluation.course,@evaluation), method: :delete, data: { confirm: 'Are you sure you want to delete the evaluation?' } %>
<div class="infoEvaluation">
<p>
  <strong>Date:</strong>
  <%= @evaluation.date %>
</p>

<p>
  <strong>Min grade:</strong>
  <%= @evaluation.min_grade %>
</p>

<p>
  <strong>Course:</strong>
  <%= @evaluation.course.name %>
</p>
</div>


<%= render 'set_grades', evaluation: @evaluation %>
<%= link_to image_tag("back.png" , class:"backArrow", style:"margin-top:-2%;"), course_path(@course) %> 