<p id="notice"><%= notice %></p>
<h1  style="text-align: center"><%= @course.name %> - <%= @course.year %>
</h1>
<hr style="background-color: red">
<h1 style="display: inline-block;">Students</h1>
<a href="<%= new_course_student_path %>" class="newStudent col-md-3">  <%= image_tag("redplus.png",class:"newStudent-img ")%> New students</a>
<table class="table table-light">
  <thead>
    <tr>
      <th class="col-md-2">Name</th>
      <th class="col-md-2">Lastname</th>
      <th class="col-md-2">Dni</th>
      <th class="col-md-2">Number</th>
      <th class="col-md-2">Course</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.lastname %></td>
        <td><%= student.dni %></td>
        <td><%= student.number %></td>
        <td><%= student.course.name  %></td>
        <td><%= link_to image_tag("edit.png", class:"del-student-img"), edit_course_student_path(student.course,student) %></td>
        <td>
        <%= link_to image_tag("destroyBin.png", class:"del-student-img"), course_student_path(student.course,student), method: :delete, data: { confirm: 'Are you sure you want to delete the student?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to image_tag("back.png" , class:"backArrow"),  course_path(@course) %>