<h1  style="text-align: center"><%= @course.name %> - <%= @course.year %>
</h1>
<hr style="background-color: red">
<h2 style="color:white; text-align: center;margin-bottom: 2%;">Grades resume</h2>

<table class="table table-light">
	<tr style="background-color: grey">
		<th>Student</th>
		<th>Dni</th>
		<% @course.evaluations.each do |evaluation| %>
		<th colspan="2"><%= evaluation.name %></th>
		<% end %> 
	</tr>
	<% @course.students.each do |student| %>
	<tr>
		<td><%= student.name %></td>
		<td><%= student.dni %></td>
		<% @course.evaluations.each do |evaluation| %>
			<% if evaluation.grades.detect{|g| g.student==student}.grade.nil? then %>
			  <td>-</td>
			<% else %>
			  <td><%= evaluation.grades.detect{|g| g.student==student}.grade %></td>
			<% end %>
			<td
			<% if evaluation.status(student)=="Disapproved" then%>
				style="color: red";
			<% elsif evaluation.status(student)=="Approved" %>
				style="color: green";
			<% else%>
				style="color: grey";
			<% end %>
			><%= evaluation.status(student) %> </td>
		<% end %>
	</tr>
	<% end %>
	<tr >
		<th colspan="2">Approved count</th>
		<% @course.evaluations.each do |evaluation| %>
			<td colspan="2"><%= evaluation.approved_count %></td>		
		<% end %>
	</tr>
	<tr>
		<th colspan="2">Disapproved count</th>
		<% @course.evaluations.each do |evaluation| %>
			<td colspan="2"><%= evaluation.disapproved_count %></td>		
		<% end %>
	</tr>
	<tr>
		<th colspan="2">Absent count</th>
		<% @course.evaluations.each do |evaluation| %>
			<td colspan="2"><%= evaluation.absent_count %></td>		
		<% end %>
	</tr>
	<tr>
		<th colspan="2">Approved percentage</th>
		<% @course.evaluations.each do |evaluation| %>
			<td colspan="2"><%= evaluation.approved_percentage %>%</td>		
		<% end %>
	</tr>
</table>
<%= link_to image_tag("back.png" , class:"backArrow "), course_path(@course) %>