<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<div class="list-group "> 
  <% @courses.each do |course| %>
    <div  class="list-group-item list-group-item-action course-elem" >
      <%= image_tag("ruby.png",class:"course-img ") %>
      <%= course.name %>
      <%= course.year %>
      <%= link_to 'Show', course  %>
      <%= link_to 'Edit', edit_course_path(course) %>
      <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    </div>
  <% end %>
</div>
<%= link_to 'New Course', new_course_path %>
