<p id="notice"><%= notice %></p>
<h1  style="text-align: center"><%= @course.name %> - <%= @course.year %>
	<%= link_to image_tag("edit.png", class:"edit-course-img col-md-2"), edit_course_path %>
</h1>
<hr style="background-color: red">
<h4 style="margin-top: 2%;">
	<%= link_to image_tag("itemArrow.png" , class:"backArrow ")%>
	<a href="<%= course_students_path(@course)%>" class="evaluationsTitle">  Students </a>	
</h4>
<h4 style="margin-top: 2%;">
	 <%= link_to image_tag("itemArrow.png" , class:"backArrow ")%>
	<a href="<%=grades_course_path(@course)%>" class="evaluationsTitle"> Grades </a>
</h4>

<h4 class="evaluationsTitle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 2%;" >
	<%= link_to image_tag("itemArrow.png" , class:"backArrow ")%>Evaluations
</h4>

<div class="dropdown-menu ">
	<hr style="background-color: red">
  <% @course.evaluations.each do |evaluation| %>  
  	<%= link_to evaluation.name, course_evaluation_path(@course,evaluation), class:"evaluationsItem dropdown-item"%>
  <% end %>
  <hr style="background-color: red">
  <a href="<%= new_course_evaluation_path(@course) %>" style="color:white">  <%= image_tag("redplus.png",style:"width:3%")%> New evaluation</a>
  <hr style="background-color: red">
</div>


<%= link_to image_tag("back.png" , class:"backArrow", style:"margin-top:10%;"), courses_path %>


