<p id="notice"><%= notice %></p>

<h1 style="text-align: center;"><%= @course.name %> - <%= @course.year %> </h1>


 <h4 class="evaluationsTitle" >
   Evaluations
  </h4>
 
  <hr>
   <ul>
  <% @course.evaluations.each do |evaluation| %>  
    <li><%= link_to evaluation.name, course_evaluation_path(@course,evaluation), class:"evaluationsItem"%></li>
    
  <% end %>
  </ul>
<hr>

<%= link_to 'Edit', edit_course_path %> |
<%= link_to 'Back', courses_path %>
<%= link_to 'Students', course_students_path(@course) %>
<%= link_to 'New Evaluation', new_course_evaluation_path(@course) %> 
</div>
