<!DOCTYPE html>
<html>
  <head>
    <title>TFIRuby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  </head>

  <body >
    <nav class="navbar navbar-dark bg-dark navBar">
      <h4> Ruby - course management</h2>
      <%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
    </nav>

  	<div class="container">

        <p class="alert"><%= alert %></p>
    <%= yield %>
    </div>
  </body>
</html>
